@model PagedList.IPagedList<Bewander.ViewModels.AdminUserViewModel>


@using PagedList.Mvc;





@{


    ViewBag.Title = "FlaggedPosts";


}





<script>


    // Trigger button click when enter key is pressed in textbox


    $(function () {


        $("#searchString").on("keydown", function (event) {


                if (event.keyCode == 13) {


                    event.preventDefault();


                    document.getElementById("searchButton").click();


                }


            });


        return false;


        });


</script>





<h2>Flagged Posts</h2>





<p>


    @Html.ActionLink("Create New", "Create")


</p>


@using (Html.BeginForm("Index", "Admin"))


{


    <p>


        Find by name: @Html.TextBox("searchString", ViewBag.CurrentFilter as string)


        <input id="searchButton" type="submit" value="Search" />


    </p>


}


<table class="table">


    <tr>


        <th>


            Email


        </th>


     


        <th>


            Flagged Post


        </th>


        <th>


            Delete Post


        </th>


        <th>


            Lockout User


        </th>


        <th>


            Remove Flag


        </th>


    </tr>


    @for (int i = 0; i < Model.Count; i++)


    {


        <tr>


            <td>


                @Html.DisplayFor(item => item[i].Email)


            </td>


            <td>


                @Html.DisplayFor(item => item[i].PostFlag)


            </td>


            <td>


                @Html.ActionLink("Yes", "Posts", "RemovePost", new { Id = Model[i].Id }) |


            </td>


            <td>


                @Html.ActionLink("Yes", "Users", "EnableLockout", new { Id = Model[i].Id }) 


            </td>


        </tr>





    }





</table>


<br />


@*Adding Paged List*@


Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount


@Html.PagedListPager(Model, page => Url.Action("Index",


    new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))


<br />


<br />


<br />


<br />